<div class="site page-content">
    <div class="breadcrumb-contact-us breadcrumb-section section-box">
        <div class="container breadcrumb-inner">
            <div class="breadcrumbs-wrapper">
                <ul class="phys-breadcrumb">
                    <li><a href="index.html" class="home">Home</a></li>
                    <li><a href="nosidebar.html" class="home">Blog</a></li>
                    <li>Blog No Sidebar</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="site-main col-sm-12 full-width">
                    <div class="wrapper-blog-content content-blog-masonry masonry-column-3">

                        <article class="grid-item post">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/Blog4.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">Fashion today</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item post ">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog11.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">Make your style</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item  post ">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog10.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">Fashion don’t need to talk</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item post">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog9.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">7 better ways answear : What do you do ?</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item  post">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog8.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">15 Better Things to Do After Work</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item post">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog7.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">Why you should never stop learning</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item post ">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog6.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">How streetwear changes everything</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item  post ">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog5.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">Streetwear – The business of fashion</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">17 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                        <article class="grid-item  post ">
                            <div class="content-item">
                                <div class="post-formats-wrapper">
                                    <a class="post-image" href="blog-single.html">
                                        <img src="images/blog/blog1.jpg" class="attachment-full size-full wp-post-image" alt="">
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-single.html" rel="bookmark">25 food bloggers we love</a>
                                </h2>
                                <div class="date-social">
                                    <div class="time">7 - October - 2019</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="wrapper-view-move">
                        <div class="view-more-button au-btn">Load more</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>